* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: rgb(27, 29, 29);
    display: flex;
    align-items: center;
    justify-content: center;
}

main .container{
    height: 400px;
    width: 300px;
    border: 1px solid black;
    background-color: rgb(197, 192, 202);
    border-radius: 10px;
    text-align: center;
   
}

.container img{
    height: 200px;
    width: 100%;
    object-fit: cover;
    padding: 0.5rem;
    border-radius: 15px;

}

.container h5{
    color: red;
    font-size: 2rem;
    padding: 1rem;
}

.container button{
    padding: 0.5rem 1rem;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
}