* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(162, 147, 147);
  color: aliceblue;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:10px;
}

.container {
  width: 700px;
  height: 500px;
  background-color: rgb(56, 51, 51);

  border-radius: 3px;
  margin-top: 20px;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.empty-line {
  height: 80px;
  width: 100%;
  border-bottom: 2px solid rgb(123, 122, 122);
}

.container .img-container {
  position: absolute;
  top: 10px;
  left: 40%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .img-container img {
  width: 115px;
  height: 115px;
  border-radius: 50%;
  object-fit: cover;
}

.display-box {
  text-align: center;
  margin-top: 100px;
  transition: 0.3s ease;
  opacity: 0;
}

.display-box p {
  font-size: 25px;
  color: #dadada;
  font-weight: 200;
  padding: 10px;
}

.display-box h4 {
  font-size: 35px;
  font-weight: 200;
}

.display-box.show {
  opacity: 1;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 140px;
}

.icon-container i {
  font-size: 35px;
  color: rgb(255, 255, 255);
  scale: 1;
  transition: all ease-in 0.5s;
  cursor: pointer;
}

.icon-container i:hover {
  color: rgb(16, 119, 16);
  transition: all ease 0.5s;
  scale: 1.5;
}

.refreshBtn{
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 20px;
  border: 1px solid green;
  transition: all ease-in 0.3s;
  
}

.refreshBtn:hover{
  background-color: aqua;
  transition: all ease 0.3s;
}
