* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: #535252;
  color: antiquewhite;
  font-family: system-ui, sans-serif;
}

h1 {
  font-size: 300px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: -2px;
  line-height: 1;
  text-transform: uppercase;
  -webkit-text-stroke-width: 10px;
  -webkit-text-stroke-color: rgb(206, 197, 197);
  background: url(https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExM3N5c3ljbG9lcWhlYjA0bGw1am5sYjh6bnFrNHl1d3JveDljc2g2aiZlcD12MV9naWZzX3NlYXJjaCZjdD1n/GHKlVpc6ThFB9Zk41M/200.webp);

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  filter: blur(12px);
  transition: filter 0.5s ease;
}

img.loaded {
  filter: blur(0);
}

.spacer {
  height: 100vh;
}
