* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #222;

  width: 100%;
  height: 100%;
}
main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  flex-wrap: wrap;
  gap: 10px;
}

main .card {
  height: 330px;
  width: 300px;
  background-color: #fff;
  display: flex;
  align-items: center;

  flex-direction: column;
  border-radius: 15px;
  text-align: center;
  
  
}

.card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 50px;
  object-fit: cover;
  object-position: center;
}

.card h3 {
  font-size: 28px;
  margin-top: 18px;
}

.card h4{
  font-size: 18px;
  margin-top: 8px;
   color: crimson;

  
}

.card p {
  font-size: 14px;
  margin: 12px 20px;

  color: #413f3f;

}
