* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  text-align: center;
  margin-top: 100px;
}
main {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  position: relative;
  width: 100%;
  background: url(https://png.pngtree.com/thumb_back/fh260/background/20230704/pngtree-3d-rendered-grand-piano-timeless-black-and-white-image_3730277.jpg);
  background-size: cover;
   
  

 
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b9b0b0;
    height: 20vh;
    position: sticky;
}

.white-keys-container {
  height: 225px;
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  
}

.white-keys {
  height: 225px;
  width: 42px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 15px;
  border-radius: 0 0 5px 5px;
  user-select: none;
  border: 1px solid rgb(69, 66, 66);
  box-shadow: 0 10px 0 rgb(94, 92, 92);
}

.black-keys-container {
  height: 112.5px;
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  position: absolute;
  gap: 5px;
  bottom: 50%;
}

.black-keys {
  height: 112.5px;
  width: 37px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 15px;
  border-radius: 0 0 5px 5px;
  user-select: none;
  color: #fff;
}

.black-keys:not(
    :nth-child(3),
    :nth-child(7),
    :nth-child(10),
    :nth-child(14),
    :nth-child(17)
  ) {
  background-color: #222;
  box-shadow: 0 6px 6px rgb(186, 186, 186);
}

@keyframes key-press-animation {
  0% {
    transform: translateY(0);
    box-shadow: 0 6px 0 rgb(186, 186, 186);
  }
  50% {
    transform: translateY(4px);
    box-shadow: 0 2px 0 rgb(186, 186, 186);
  }
  100% {
    transform: translateY(0);
    box-shadow: 0 6px 0 rgb(186, 186, 186);
  }
}

.key-animation {
  animation: key-press-animation 200ms ease-in-out;
}

.white-keys.active {
  background-color: #e6e6e6;
  box-shadow: 0 2px 0 rgb(150, 150, 150);
}

.black-keys.active {
  background-color: #444;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
}


footer {
  margin-top: 20px;
  font-family: Arial, sans-serif;
  color: #333;
  font-size: 20px;
  background-color: #b5b0b0;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}