* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: lightgreen;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(137, 132, 132);
  position: relative;
}

.container {
  height: 400px;
  width: 300px;
  overflow: hidden;
}

.container img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.container i {
  font-size: 50px;
  color: aliceblue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
  transition: transform ease 0.4s;
}
