* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}





body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

p{
  font-family: monospace;
    font-size: 3rem;
    color: green;
    padding: 10px 15px;
    background-color: rgba(0, 128, 0, 0.041);
}