* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}


html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

p{
    font-size: 2rem;
    color: green;
    padding: 10px 15px;
    background-color: rgba(0, 128, 0, 0.041);
}