* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(34, 39, 37, 0.837);
    position: relative;
}

.cursor{
    background-color: #e7e7e7;
   
     box-shadow: 0 20px 25px 30px  rgba(70, 164, 12, 0.316);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    padding: 0.5rem;
    
    mix-blend-mode:difference ;
    
}

h1{
    font-size: 10rem;
    color: rgba(104, 166, 220, 0.972);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}