* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(0, 208, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

#card {
  height: 480px;
  width: 300px;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  border: 2px solid black;
  position: relative;
}

#full-screen {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  display: none;
}

#storiyan {
  height: 120px;
  width: 100%;
  border-bottom: 1px solid #dadada;
  padding: 15px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

#storiyan::-webkit-scrollbar {
  display: none;
}

#storiyan .story {
  border: 3px solid red;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  margin-right: 5px;
}

#storiyan .story img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
