/* Light mode default */
body {
  background: white;
  color: black;
  font-family: Arial, sans-serif;
  transition: 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10rem;
}

/* Dark mode */
body.dark {
  background: #111;
  color: white;
}

/* Button styling */
#themeBtn {
  padding: 10px 15px;
  border: none;
  background: #444;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
}

body.dark #themeBtn {
  background: #ddd;
  color: black;
}
