* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: lightgreen;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(137, 132, 132);
  position: relative;
}

.container {
  height: 400px;
  width: 300px;
  overflow: hidden;
}

.container img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.container i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  opacity: 0;

  background-image: url(https://t3.ftcdn.net/jpg/01/14/77/58/360_F_114775804_4yfG9qbKp1NlF1RLo4MUlGIVj9MWhnnc.jpg);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  transform: translate(-50%, -50%) scale(0) rotate(-60deg);
  transition: all cubic-bezier(0.65, 1, 0.77, 1.44) 0.4s;
}
