* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #000;
}

main {
  height: 100%;
  width: 100%;
  background: linear-gradient(to right bottom rgb(26, 26, 26), rgb(35, 35, 35));
}

section {
  height: 100%;
  width: 350px;

  background-color: black;
  border-radius: 10px;
  margin: auto;
  overflow: hidden;
}

.all-reels {
  height: 100%;
  width: 100%;
  background-color: crimson;
}

.reel {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: lightblue;
  overflow: hidden;
  border-radius: 10px;
}

.reel img {
  height: 100%;
  width: 100%;

}

.reel .bottom{
    padding: 30px 20px ;
}
